.main-tables-container {
    margin: 0 auto;

} 

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 93.0rem;
    margin: 0 auto;
}

.bitcoin-img-container {
    background-image: url('https://i.postimg.cc/xCC2RGxP/bitcoinbaby2x.jpg');
}

.plans-container-slider {
    justify-content: center;
}
